body {
  direction: rtl;
}

ul.react-tabs__tab-list {
  text-align: center !important;
}
.saveButton {
  position: fixed !important;
  top: 0;
  left: 0;
}
.sendButton {
  position: fixed !important;
  top: 50;
  left: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 80px;
    padding: 0 !important;
    width: 85% !important;
  }
  .container h4 {
    font-size: medium !important;
  }
  .container .react-tabs__tab {
    font-size: small !important;
  }
  .buttonDiv {
    left: 0 !important;
    width: 100%;
    height: 60px;
    background: black;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
  }
  .buttonDiv .saveButton {
    color: white;
    background-color: blue;
    border-radius: 10px;
  }
  .buttonDiv .saveButton {
    right: 0 !important;
  }
}
